html
  head
    title Forms :: Admin :: Login
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css', integrity='sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP', crossorigin='anonymous')
    link(type='text/css', rel='stylesheet', href='/css/login.css')
  body
    .container.h-100
      .d-flex.justify-content-center.h-100
        .user_card
          .d-flex.justify-content-center
            .brand_logo_container
              img.brand_logo(src='/android-chrome-192x192.png', alt='Logo')
          .d-flex.justify-content-center.form_container
            form
              .input-group.mb-3
                .input-group-append
                  span.input-group-text
                    i.fas.fa-user
                input#username.form-control.input_user(type='text', name='username', value='', placeholder='username')
              .input-group.mb-2
                .input-group-append
                  span.input-group-text
                    i.fas.fa-key
                input#password.form-control.input_pass(type='password', name='password', value='', placeholder='password')
              .input-group.mb-3
                button#login.btn.login_btn(type='button', name='login', value='Login') Login
              .input-group.mb-3
                p#error
      script(src="/js/jquery.min.js")
      script(src="/js/admin/login.js")