extends ../layout.pug
includes ../mixins.pug

block form
  h2 Personal Registration Form - Thank You!
  p You are now registered!
  +submittedData(data)
  p This Data has been submitted to your E-Mail-Adress and save in our Database.
  a(href="https://join.slack.com/t/prixjeunesse/shared_invite/enQtNTk2MTEyMzA3MzQ0LTYxYTI2ZTczNzJkNWFkMDEwZGU0MDA2ZjM0Y2Y4NjQ2YzNiM2YzMGQ4MmU5MTVmMTY1YWFhMThmMmIwMzY1NGI" target="_blank") Feel free to Register to our Slack for more Communucation!